    body {
      font-family: "Poppins", sans-serif;
      margin: 0;
      background-color: #f5f6fa;
      color: #2c3e50;
      line-height: 1.6;
    }

    header {
      background-color: #62436c;
      color: white;
      text-align: center;
      padding: 3rem 1rem;
    }

    header h1 {
      margin: 0;
      font-size: 2.4rem;
      letter-spacing: 1px;
    }

    header p {
      font-size: 1.1rem;
      color: #000000;
    }

    a {
      color: #0a66c2;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    section {
      max-width: 1000px;
      margin: 3rem auto;
      padding: 0 2rem;
    }

    h2 {
      border-left: 6px solid #62436c;;
      padding-left: 10px;
      color: #62436c;;
    }

    .card {
      background: white;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
      padding: 1.5rem 2rem;
      margin-bottom: 1.5rem;
      transition: transform 0.2s ease;
    }

    .card:hover {
      transform: translateY(-4px);
    }

    .highlight {
      color: #000000;
      font-weight: 600;
    }

    footer {
      background-color: #62436c;
      color: white;
      text-align: center;
      padding: 1.5rem 1rem;
      font-size: 0.95rem;
    }

    .project-title {
      font-weight: 600;
      color: #000000;
    }

    ul {
      padding-left: 1.2rem;
    }

    img{
        width: 4%;
        height: auto;
        display: block; 
        margin-left: auto;
        margin-right: auto;
    }
 @media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
